@import "variable.styl"

.header {
  text-align: center;
  .en {
    font-size: 3.2rem;
    text-transform: uppercase;
    padding-top: 3rem;
  }

  .zh {
    display: inline-block;
    position: relative;
    font-size: 3.2rem;
    padding-bottom: 0.5rem;
    margin-bottom: 4rem;
    &:after {
      position: absolute;
      left: 25%;
      bottom: 0;
      content: '';
      width: 50%;
      height: 0.3rem;
      background-color: $background-color-base;
    }
  }
}
