no-wrap() {
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap
}

rounded-circle() {
  border-radius: 50%;
}

bg-opacity($opacity) {
  background: rgba(255, 255, 255, $opacity);
}

icon_businessscope() {
  display inline-block
  font-size 66px
  width 100px
  height 100px
  line-height 100px
  text-align center
  border-radius 50%
  margin-bottom 15px
  background-color #fff
}

