$header-bg-color = #fff
$footer-bg-color = #2c354a

$text-color-base = #1771f9
$text-color-white = #fff
$text-color-light = #ccc
$text-color-dark = #333
$text-color-black = #000

$font-size-small = 1rem
$font-size-base = 1.2rem
$font-size-medium = 1.4rem
$font-size-large = 1.6rem
$font-size-large-x = 1.8rem

$background-color-base = #1771f9
$background-color-gray = #eee
$background-color-white = #fff
$backgrouond-color-darkgray= #888;
$background-color-black = #000

$border-color-base = #1771f9
$border-color-gray = #eee
$border-color-white = #fff
$border-color-black = #000

$border-radius-base = 0.4rem
$border-radius-small = 0.3rem
$border-radius-large = 0.6rem

$icomoon-font-path ?= "../fonts"
$ty-icon-icon2_businessscope = "\e903"
$ty-icon-icon3_businessscope = "\e904"
$ty-icon-icon4_businessscope = "\e905"
$ty-icon-email_contactus = "\e900"
$ty-icon-fax_contactus = "\e901"
$ty-icon-icon1_businessscope = "\e902"
$ty-icon-location_contactus = "\e906"
$ty-icon-phone_contactus = "\e908"
$ty-icon-wechat = "\e909"
$ty-icon-arrow-up2 = "\ea3a"

$toolbar-size = 5.2rem
