$text-color-white = #fff;
$text-color-light = #ccc;
$text-color-dark = #333;
$text-color-black = #000;

$font-size-small = 10px;
$font-size-base = 12px;
$font-size-medium = 14px;
$font-size-large = 16px;
$font-size-large-x = 18px;

$background-color-base = #1771f9;
$background-color-gray = #eee;
$background-color-white = #fff;
$background-color-black = #000;

$border-color-base = #1771f9;
